@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Passion+One&display=swap");

$enable-grid-classes: true;
$enable-cssgrid: true;

$font-family-base: "Lato", sans-serif;
$font-size-root: 62.5%; // Reseting to frontend styles
$font-size-base: 1.6rem;
$font-weight-base: 400;
